@charset "utf-8";
html, body { font-size: 20px;}
.active-nav-title{color: #484a7e; font-size: 0.8rem; font-weight: bold;}
.loop2 { display: block; position: relative; top: 0px; width: 95%; margin: 10px auto; padding: 0.5% 0.7% 0.3% 0.2%; background: url(../img/loop2bor.png) no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.news{padding: 0 25px 30px;}
#swiper-container2>.swiper-pagination2{text-align: right; z-index: 10;  padding-right: 0.5rem; bottom: 16px; position: absolute;}
.newsTitle { background: url(../img/loop2kuang.png) no-repeat; background-size: 100% 100%; width: 80%; overflow: hidden; position: absolute; bottom: 10px; left: 3%; z-index: 10; color: #FFFFFF; font-size: 0.8rem; height: 2rem;  line-height: 1.9rem; text-indent: 0.7rem;  }
.newscontant { display: block; width: 100%; margin: 30px auto; }
.nes-pic{display: block;  float: left;  width: 30%; position: relative;}
.nes-pic-border{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../img/list-border.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.news-detail { display: block; float: right; width: 65%; margin-top: 0.6rem;  }
.news-detail .article-p{height: 2.5rem; overflow: hidden;}
.news-detail h3{margin-bottom: 0.3rem;}
.news-detail h3 a{ color: #3b3e77;  font-family: "楷体", "microsoft yahei";  font-size: 1.1rem; font-weight: bold; line-height: 1.1rem;  }
.news-detail h3 a:hover{ text-decoration: underline;  }
.active-info{margin-top: 0.1rem; }
.active-info li+li{margin-left: 15px;}
.goPage { text-align: center; margin: 6rem auto 0 auto; font-family: "黑体","microsoft yahei"; font-weight: bold; font-size: 0.7rem; }
.goPage ul{ display: -webkit-flex; display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox;
	-webkit-box-pack: center; -moz-box-pack: center; -ms-box-pack: center; box-pack: center;/*==主轴对齐==*/ -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;  }
.goPage li{ padding: 0.2rem 0.2rem; position: relative;}
.goPage .prePage { padding: 0.2rem 0.3rem; margin-right: 0.3rem; background: url(../img/pageborder.png) no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.goPage .pageFor+.pageFor:before{position: absolute; content: ""; left: -1px; top: 50%; width: 0; height: 0; border: 1px solid #333; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.goPage li a{color: #201f1e;}
.pageFor a:hover{color: #201f1e; text-decoration: underline;}
.goPage li.point a:hover{color: #201f1e; text-decoration: none;}
.goPage .nextPage {padding: 0.2rem 0.3rem; margin-left: 0.3rem; background: url(../img/pageborder.png) no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%; }